/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

/* Spacing */

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	margin: 1.5rem;
	max-width:100rem;
}

main {
	overflow:auto;
	min-width:45rem;
}

header {
	width: 100%;
}

nav {
	padding-top:1.5rem;
	padding-bottom:1.5rem;
	margin:0;
}

section.mainsection {
	margin-top: 3rem;
	display: inline;
}

h1 {
	margin-bottom: 4rem;
}

h2 {
	margin-bottom:0.5rem;
}

figure.article-image {
	float:left;
	margin-left: 0;
	margin-right: 1.5rem;
	margin-bottom: 0rem;
	width: 25%;
	max-width:24rem;
}

figure.article-image img {
	width: 100%;
}

section.subsection {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	margin-top: 1.5rem;
	margin-bottom: 1.5 rem;
}

section.subsection figure {
	flex: 33%;
	margin:.1rem;
	justify-content: space-between;
}

section.subsection figure img {
	width: 100%;
}

article {
	width: 70%;
	float: left;
	max-width: 75rem;
}

button {
	margin-top: 3rem;
}

aside {
	width: 20%;
	max-width: 20rem;
	float: right;
}

aside img {
	width: 80%;
}

footer {
	display: flex;
	gap: 1rem;
	margin-top: 1rem;
	justify-content: space-between;
}

/*Typography*/

@font-face {
	font-family:"RobotoSlab";
	src: url("../fonts/serif/robotoslab-regular.ttf") format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:"Ultra";
	src: url("../fonts/serif/ultra-regular.ttf") format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:"Roboto";
	src: url("../fonts/sans-serif/roboto-regular.ttf") format('truetype');
	font-weight:normal;
	font-style:normal;
}

html { 
	font-family:"Roboto", sans-serif;
}

h1 {
	font-family:"RobotoSlab", serif;
	font-weight: bold;
	font-size: 3rem;
	text-align: center;
	transform: rotate(-5deg);
}

span.highlight {
	font-family:"Ultra", serif;
	padding: 0.5rem 1rem 0.5rem 1rem;
	background-color: #800000;
	border-radius: 0.5rem;
	color: #f5f5dc;
	text-shadow: .2rem .2rem black;
}

nav a {
	font-size: 1.5rem;
	margin: 1.5rem 1.5rem 1.5rem 1.5rem; 
	text-decoration: none;
	color: #483D8B;
	font-weight:bold;
}

nav a:focus, a:hover{
	color:black;
}

a.blog {
	display: inline-block;
	color: black;
	text-decoration: line-through;
	position: relative;
	top:-.1rem;
	font-size:1.2rem;
	text-transform: uppercase;
	transform: rotate(5deg);
}

nav {
	border-top: .15rem solid gray;
	border-bottom: .15rem solid gray;
}

h2 {
	font-size: 1.5rem;
	margin-bottom: 0;
}

h3 {
	font-size: 1rem;
}

time {
	font-size: 0.75rem;
	font-weight: italic;
}

section.subsection figure figcaption {
	background-color: Linen;
	margin: 0;
	font-size: 0.5vw+.25rem;
	height: 3rem;
	overflow: auto;
}

aside {
	font-size: 0.75rem;
	padding-left: 2rem;
	border-left: .15rem solid gray;
}

aside a.expand {
	text-decoration:none;
	font-size:.25rem;
	color: blue;
}

aside p {
	padding-bottom: 2rem;
	border-bottom:.1rem solid gray;
}
	
button {
	font-family:"Ultra", serif;
	padding: 0.5rem 1rem 0.5rem 1rem;
	background-color: #00008B;
	border-radius: 0.5rem;
	color: #F0FFFF;
	text-shadow: .2rem .2rem black;
	font-size: 1.5rem;
}

footer {
	color: gray;
	font-size: 0.75rem;
}

p.attribution {
	text-align: right;
}